{% load static %}
<!doctype html>
<html>
  <head>
    <br>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
 
    <script src="script.js"></script>
  </head>
  
  <body>
    
   
  <div class="dev_items">
    <p>Created By</p>
    <img src="./my.jpg" class="my_img">
    
    <div class="quote">
    <p id="quote">"I would like to change the world, but they wont give me the source code"</p>
    </div>
    
    <h1 class="dev_name">Sharon</h1>
    <h1 class="dev_name">Learning full-stack web Development</h1>
    <div class= "me_yt center">
     <a href="https://youtube.com/channel/UC6nMdm3J17YKsg8nBn_4kYw" target="_blank" class="my_yt center">subscribe me!</a>
    </div>
  </div>
   
   <div class = "navbar">
 <ul>
  <li><a href = "/">Home</a></li>
  <li><a href = "/gallery">gallery</a></li>
  <li><a href = "/codes">codes</a></li>
  <li><a href = "/about">about</a></li>
 </ul>
</div>
    
  </body>
  </html>