<html>
  <head>
  <title> Hello world </title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
  <script src="./codes.js"></script>
  </head>
  
  <body>
  <div class = "navbar">
 <ul>
  <li><a href = "./index.html">Home</a></li>
  <li><a href = "./game.html">Game</a></li> 
  <li><a href = "./codes.html">Codes</a></li>
  <li><a href = "./about.html">About</a></li>
 </ul>
  </div>
  <br>
  <br>
  <br>

   <div id="vinu_button" class="vinu_button">
   <input type="submit" value="Show a confused monkey" onclick="dis_img();" class="dis">
   </div>
    <img src = "./vinayak.jpg" id = "vinayak" class = "vinayak">
    <br>
    <br>
    <br>
   
    
   <div id="sraavan_button" class="sraavan_button">
   <input type="submit" value="Show kandammessi" id="kdm" class="kdm" onclick="dis_srav();">
   </div>

   <img src="./laddu_annan.jpg" id="srav_img" class="srav_img">
    
  </body>
     </html>