{% load static %}


<!DOCTYPE html>
<html>
<head>
  
  <link href="{% static 'gallery.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
 <div class="container">
  <div class="heading">
  <h3>pic <span>gallery</span></h3>
  </div>

  <div class="box">
   <div class="imgs">
    <img src="{% static '1.jpg' %}">
    <img src="{% static '2.jpg' %}">
    <img src="{% static '3.jpg' %}">
    <img src="{% static '4.jpg' %}">
    <img src="{% static '5.jpg' %}">
  </div>
   
   <div class="imgs">
    <img src="{% static '6.jpg' %}">
    <img src="{% static '7.jpg' %}">
    <img src="{% static '8.jpg' %}">
    <img src="{% static '9.jpg' %}">
    <img src="{% static '10.jpg' %}">
  </div>
   
   <div class="imgs">
    <img src="{% static '11.jpg' %}">
    <img src="{% static '12.jpg' %}">
    <img src="{% static '13.jpg' %}">
    <img src="{% static '14.jpg' %}">
    <img src="{% static '15.jpg' %}">
  </div>
    
    <div class="imgs">
    <img src="{% static '15.jpg' %}">
    <img src="{% static '16.jpg' %}">
    <img src="{% static '17.jpg' %}">
    <img src="{% static '18.jpg' %}">
    <img src="{% static '19.jpg' %}">
  </div>
  
    <div class="imgs">
    <img src="{% static '20.jpg' %}">
    <img src="{% static '21.jpg' %}">
    <img src="{% static '22.jpg' %}">
    <img src="{% static '23.jpg' %}">
    <img src="{% static '24.jpg' %}">
      </div>
    
    
  </div>
   <div class="btn">
     <a href="#">upload(coming soon)</a>
   </div>
  </div>
<nav>
  <div class = "navbar">
 <ul>
  <li><a href = "/">Home</a></li>
  <li><a href = "/gallery">gallery</a></li>
  <li><a href = "/codes">codes</a></li>
  <li><a href = "/about">about</a></li>
 </ul>
</div>
</nav>

</body>
  </html>