{% load static %}
<!DOCTYPE html>
<html>
<head>
  
  <link href="{% static 'gallery.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
 <div class="container">
  <div class="heading">
  <h3>pic <span>gallery</span></h3>
  </div>

  <div class="box">
   <div class="imgs">
    <img src="./1.jpg">
    <img src="./2.jpg">
    <img src="./3.jpg">
    <img src="./4.jpg">
    <img src="./5.jpg">
  </div>
   
   <div class="imgs">
    <img src="./6.jpg">
    <img src="./7.jpg">
    <img src="./8.jpg">
    <img src="./9.jpg">
    <img src="./10.jpg">
  </div>
   
   <div class="imgs">
    <img src="./11.jpg">
    <img src="./12.jpg">
    <img src="./13.jpg">
    <img src="./14.jpg">
    <img src="./15.jpg">
  </div>
    
    <div class="imgs">
    <img src="./16.jpg">
    <img src="./18.jpg">
    <img src="./19.jpg">
    <img src="./25.jpg">
    <img src="./24.jpg">
  </div>
  
    <div class="imgs">
    <img src="./17.jpg">
    <img src="./20.jpg">
    <img src="./21.jpg">
    <img src="./22.jpg">
    <img src="./23.jpg">
      </div>
    
    
  </div>
   <div class="btn">
     <a href="#">More</a>
   </div>
  </div>


</body>
  </html>