{% load static %}

<!doctype html>
<html>
 <head>
  <title> Hello world </title>
   <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="">
  <meta name="robots" content="INDEX, FOLLOW">
  
 </head>
<script src="{% static 'script.js' %}"></script>
  
 <body>
 <div class="background-img"></div>

 <br>
 <br>

 <button class='nothing san' id="nothing" onclick="mimo_red();">Click me, To learn programming</button>
 
 <br>
 <br>
 

 <br>
 





 <br>
 <br>

 <p><strong>#Still_learning</strong></p>
 
 <br>
 <br>
 
 <p><strong>#Learn with me</strong></p>

<nav>
<div class = "navbar">
 <ul>
  <li><a href = "./index.html">Home</a></li>
  <li><a href = "./gallery.html">gallery</a></li>
  <li><a href = "./codes.html">Codes</a></li>
  
  <li><a href = "./about.html">About</a></li>
 </ul>
</div>
</nav>
 <!-- yt link -->
   <script src="https://apis.google.com/js/platform.js"></script>

<!-- <div class="g-ytsubscribe" data-channelid="UC6nMdm3J17YKsg8nBn_4kYw" data-layout="full" data-count="hidden"></div> -->

 </body>
    </html>